* { box-sizing: border-box; }

html, body { padding: 0; margin: 0; height: 100%; width: 100%; }

body {
  font: normal 10.5pt/14pt "Lucida Grande", "Lucida Sans Unicode", Helvetica, Verdana, Arial, sans-serif;
  background: url("/images/content-background.png") repeat;
}

menuheader {
  position: absolute;
  width: 230px;
  height: 100%;
  z-index: 10;
  background: rgb(35, 35, 35);
//  background: url("/images/submenu-background.png") repeat-y;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.15);
}

#copyright { position: absolute; bottom: 10px; padding: 0 10px; font-size: 9pt; color: rgb(60, 85, 115); z-index:15; }
#logo { height: 250px; position: relative; left: 50%; margin-left: -35%; width: 70%; }
#logo img { width: 100%; position: absolute; bottom: 20px; }

nav#main-navigation {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: url("/images/header-background.png") repeat-y;
  z-index: 11;
}

nav#main-navigation a.main-item {
  display: block;
  min-height: 50px;
  padding: 15px 22px;
  overflow: hidden;
  margin-bottom: 1px;
  font-size: 17pt;
  color: rgb(60, 85, 115);
  background: rgba(60, 85, 115, 0.08);
}

nav#main-navigation a.main-item:hover { background: rgba(255, 255, 255, 0.35); }

nav a img.icon {  width: 20px; height: 20px; margin-right: 7px; position: relative; top: 3px; }

nav#main-navigation .sub-menu { position: absolute; left: 70px; z-index: 12; margin-left: -9999px;}
nav#main-navigation .sub-menu a {
  display: block;
  min-height: 50px;
  width: 160px;
  padding: 15px 15px;
  margin-bottom: 1px;
  font-size: 12pt;
  color: rgb(150, 150, 150);
  background: rgb(50, 50, 50);
  -moz-box-sizing: border-box;
}
nav#main-navigation .sub-menu a:hover { color: white; }

nav#toolbar {
//  background: rgba(173, 197, 227, 0.45);
  background: url("/images/header-background.png") repeat-x;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 15px;
  border-bottom-left-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  opacity: 0.7;
  z-index: 10;
}

nav#toolbar:hover { opacity: 0.95; }

nav#toolbar a { height: 20px; margin-right: 15px; }
nav#toolbar a span { display: none; }
nav#toolbar a input#search-field { max-height: 20px; }

nav#toolbar #search-field { border-radius: 10px; border: solid 1px navy; font-size: 11pt; padding-left: 7px; }

section#main-section {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left:	230px;
  right: 0px;
  overflow-y: scroll;
//  width: 100%;
  margin:10px;
}

section#main-section article { max-width: 1000px; 	padding: 25px; }

footer { padding: 25px; border-top: solid 1px wheat; background: rgba(245, 222, 179, 0.1); }

a { cursor: pointer; text-decoration: none; }

div.main-content, footer {
  display:block;
}

div.titleContetnt {
  width:65%;
  margin-right:10px;
  display:inline-block;
  float:left;
}
div.rightcollumn {
 width:32%;
  margin-left:10px;
  display:inline-block;
  float:right;
}

div.clear {
  clear:both;
}

div.article#body {
    
}

div.article#author,
div.article#timestamp {
    text-align:right;
    font-size: 10px;
}

div.article_comment {
    font-size: 12px;
}
div.article_comment_header {
    display: block;
}

div.article_comment#author, div.article_comment#timestamp {
    display: inline;
}

div.article_comment#author {float: right;}
div.article_comment#timestamp {float: left;}

hr.article_comment {color: #D0E3EF;}

